# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/
openai-env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Node.js modules
node_modules/

# Flask instance folder
instance/

# Env files
.env

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/

# Miscellaneous
*.lock
*.lock.json
.DS_Store
