/* General styles */
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* Container */
.container {
    text-align: center;
    margin-top: 52px;
    padding-top: 10px;
    margin-bottom: 50px;
}

/* Buttons */
.suggestion-button{
    display: inline-block; /* Ensure both buttons are inline-block */
    width: 300px;
    padding: 25px; /* Increase padding for a bigger button */
    font-size: 25px; /* Increase font size for larger text */
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #4caf50, #7bdcb5); /* Greenish bright gradient */
    border: none;
    border-radius: 10px; /* Increase border-radius for a more rounded button */
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth transition for hover effect */
    margin-top: 54px;
}


.next-suggest{
    width: 235px;
    padding: 22px; /* Increase padding for a bigger button */
    font-size: 18px; /* Increase font size for larger text */
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #4caf50, #7bdcb5); /* Greenish bright gradient */
    border: none;
    border-radius: 10px; /* Increase border-radius for a more rounded button */
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth transition for hover effect */
    margin-top: 10px;
    
}

@keyframes flash {
    0%, 100% {
        background: linear-gradient(90deg, #4caf50, #7bdcb5); /* Greenish bright gradient */
    }
    50% {
        background: linear-gradient(90deg, #7bdcb5, #4caf50); /* Inverse gradient background */
    }
}

.suggestion-button {
    animation: flash 1s infinite;
}

.suggestion-button:hover, .next-suggest:hover {
    animation: none; /* Stop flashing animation on hover */
    background: linear-gradient(90deg, #45a049, #76dc78); /* Different gradient on hover */
}

.next-suggest {
    position: absolute;
    bottom: -3px;
    right: -25px; /* Adjust positioning from the right */
    display: none; /* Initially hidden */
}


/* Arrow styling */
.arrow-right {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    margin-left: -5px; /* Reduced space between arrows */

}

.next-suggest:hover .arrow-right {
    transform: rotate(45deg) translateX(5px); /* Move the arrow slightly on hover */
}

/* Disabled button styling */
button:disabled {
    background: gray; /* Gray background */
    color: darkgray; /* Darker text color */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    opacity: 0.6; /* Slightly faded appearance */
}

/* Slider Styling */
.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(181, 216, 181);
    overflow: hidden;
}

.top-picks {
    font-size: 1.7em;
    margin-right: 20px;
    color: #000;
    white-space: nowrap;
    flex-shrink: 0;
}

.slider-wrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Hide overflow for slider content */
    position: relative; /* Make sure slider is positioned relative */
}

.slider__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease;
}

.slider__item {
    flex: 0 0 auto;
    margin-right: 10px;
}

.card {
    width: 250px;
    height: 350px;
    padding: 20px;
    border: 4px solid #7bbd00;
    border-radius: 12px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card__thumbnail {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
}

.card__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__header {
    flex-grow: 1;
}

.card__title {
    font-size: 16px;
    margin: 10px 0 0;
}

.card__subtitle {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    word-wrap: break-word;
    color: rgb(20, 71, 20);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.nav-button {
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 32px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: rgb(169, 169, 169);
}

.prev-button {
    left: 0px; /* Adjust this value to move the button outside the last card */
}

.next-button {
    right: 24px; /* Adjust this value to move the button outside the last card */
}





/* Activity suggestion CSS */
.activity-container {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: auto; /* Add this to manage content overflow */
}

.activity-card {
    padding: 10px; /* Reduce padding */
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 8px; /* Slightly reduce border-radius */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Adjust shadow */
    transition: transform 0.2s;
    overflow: hidden; /* Ensure text doesn't overflow */
    max-width: 80%; /* Adjust the width to fit better */
    margin: 0 auto; /* Center the card */
    position: relative;
}

.activity-card:hover {
    transform: scale(1.02);
}

.activity-card h2 {
    font-size: 29px; /* Reduce font size */
    color: #1a5319; /* Dark green color for the title */
    background-color: hwb(0 96% 4%); /* Light background color for contrast */
    padding: 5px; /* Reduce padding around text */
    border-radius: 5px; /* Round the corners of the background */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 15px; /* Reduce space below heading */
    letter-spacing: 0.5px; /* Adjust letter-spacing */
    
}

.activity-card p {
    font-size: 22px; /* Reduce font size */
    color: #5a5a5a; /* Slightly darker grey */
    margin-bottom: 4px; /* Reduce margin-bottom */
    font-family: 'Georgia', serif; /* Change the font */
    padding: 5px; /* Reduce padding */
    border-radius: 5px;
}

.activity-card a {
    display: inline-block;
    font-size: 21px; /* Reduce font size */
    color: #fff; /* Set text color to white */
    text-decoration: none;
    padding: 5px 9px; /* Adjust padding */
    border: 3px solid #495f49;
    border-radius: 8px; /* Adjust border-radius */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(70, 66, 66, 0.2); /* Add a shadow for depth */
    background-color: #57a554; /* Set background color to green */
}

@keyframes flash {
    from { background-color: #57a554; } /* Start with green background */
    to { background-color: #2d572c; } /* Flash to white */
}

.activity-card a:hover {
    animation: flash 0.2s ease-in-out forwards; /* Trigger animation on hover */
}

/* Flexbox layout for buttons */
.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    flex-wrap: wrap;
    gap: 5px; /* Space between buttons */
    margin-top: 15px; /* Space between content and buttons */
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
    gap: 10px; /* Adjust gap as needed */
}

/* Player container */
#player-container {
    flex: 1;
    max-width: 100%;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
}

#player-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Details container */
.details-container {
    flex: 1;
    max-width: 100%;
    padding-left: 20px; /* Space between the player and details */
}

/* Headings */
h1 {
    text-align: center;
    font-size: 35px;
    color: #1b471e;
    margin-top:10px;
    margin-bottom: -14px;
}

/* Spinner */
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #315531; /* Blue */
    border-radius: 50%;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it is on top of other content */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Navigation */
.navigation {
    position: fixed; /* Fix the navigation bar at the top */
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    background-color: #aabbaa; /* Optional background color */
    justify-content: space-between;
    z-index: 1000; /* Ensure it stays on top */
}


.navigation.hidden {
    transform: translateY(-100%); /* Move the navbar out of view */
}


.navigation header {
    margin: 0;
    padding: 0;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: #2d333a;
    padding: 5px 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .suggestion-button, .next-suggest {
        padding: 20px 30px; /* Adjust padding for smaller screens */
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .slider-container {
        flex-direction: column; /* Stack slider elements vertically */
    }

    .card {
        width: 90%; /* Adjust card width for smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }

    .activity-card h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .activity-card p, .activity-card a {
        font-size: 12px; /* Adjust font size for smaller screens */
    }

    .nav-button {
        font-size: 18px; /* Adjust font size for smaller screens */
        padding: 8px; /* Adjust padding for smaller screens */
    }

    .flex-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items */
    }

    #player-container {
        max-width: 90%; /* Adjust max-width for smaller screens */
        margin-right: 0; /* Remove margin for smaller screens */
        padding-top: 56.25%; /* Maintain aspect ratio */
    }

    .details-container {
        max-width: 90%; /* Adjust max-width for smaller screens */
        padding-left: 0; /* Remove padding for smaller screens */
        margin-top: 20px; /* Add margin for spacing */
    }

    .navigation {
        flex-direction: column; /* Stack navigation elements vertically */
        align-items: center; /* Center navigation elements */
    }

    .navigation ul {
        flex-direction: column; /* Stack navigation links vertically */
        align-items: center; /* Center navigation links */
    }

    .navigation li {
        margin: 10px 0; /* Adjust margin for navigation links */
    }
}
