<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://www.youtube.com/iframe_api"></script>
<link rel="stylesheet" href="../static/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<title>I Am Bored</title>
</head>
<body>
    <nav class="navigation">
        <header>UnBored</header>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>

            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
            <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
</body>
</html>
