<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %} 
<div class="container mt-5">
    <h1>Looking for something to do? Try this: </h1>
    <div id="spinner" class="spinner" style="display: none;" ></div>
    <button id="suggest-button" class="suggestion-button" >Suggest an Activity</button>
    <div id="activity-container" class="activity-container">
        <!-- Activity details will be dynamically inserted here -->
    </div>
</div>

<div class="slider-container">
    <h2> Top Picks </h2>
    <div class="slider">
        <button class="nav-button prev-button" aria-label="Previous slide">❮</button>
        <div class="slider" id="slider">
            <ul class="slider__list" id="slider-list">
                <!-- Slider items will be dynamically inserted here -->
            </ul>
        </div>
        <button class="nav-button next-button" aria-label="Next slide">❯</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}